body {
    margin: 0;
    background-color: rgb(180, 188, 195);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333; 
    text-align: center;
    
    color: white;
    font-stretch: extra-expanded;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-layout {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    height: 570px;
    width: 85%; /* Adjust the width as needed */
    max-width: 420px; /* Set a maximum width for larger screens */
    background-color: rgba(139, 136, 136, 0.518);
    border-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(23, 20, 20, 0.765);
}

.input-box {
    
    width: 85%;
    margin-top: 30px;
    margin-left: 30px;
    height: 55px;
    font-size: 25px;
    border-radius: 20px;
    font-family: Arial;
    background-color: rgb(224, 229, 233);
    color: black;
    box-shadow: 10px 10px 10px rgba(70, 62, 62, 0.468);
}

.line {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 15px;
    
}

.button,
.operator,
.ac-button {
    width: calc(25% - 20px);
    margin: 0 10px 20px 10px;
    height: 65px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    box-shadow: 10px 10px 10px rgba(16, 17, 17, 0.366);
}

.button:hover,
.operator:hover,
.ac-button:hover {
    opacity: 0.8;
}

.button:active,
.operator:active,
.ac-button:active {
    opacity: 0.4;
}
.ac-button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.button,
.ac-button,
.operator{
    background-color: rgba(15, 15, 15, 0.884);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    font-family: Arial;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 450px) {
    .calculator-layout {
        width: 90%; /* Adjust the width for smaller screens */
    }

    .button,
    .operator,
    .ac-button{
        width: calc(25% - 20px);
        margin: 20px 10px 20px 10px;
        height: 50px;
    }
}
